<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Judaicagen, <%= @user.first_name %></h1>
    <p>
      Congratulations on your purchase!
    </p>
    <p>Thanks for using our service and have a great day!</p>
  </body>
</html>